# Ignore biological files
*.fastq.gz
*.fq.gz
*.bam
genomes

# Ignore output files
*.csv
bedGraphs*

# Ignore config files
*.pbs

# Ignore data files
dataMatis
resultats_thomas
output
test_scripts
*.pdf
*_test